/*СТИЛИ ДЛЯ ГЛАВНОЙ ГАЛЛЕРЕИ*/
.gallery_main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.container-arrows img  {
	height: 100%;
}
.inner_item{
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}
.img_caption {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #000000;
	background-color: rgb(192, 192, 192,0.7);
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	font-size: 1rem;
}
.container-arrows {
	display: flex;
	justify-content: space-between;
	align-self: center;
	align-items: center;
	position: absolute;
	width: 100%;
	cursor: pointer;
	height: 1px;
	background-color: transparent;
}
.slider-arrow {
	width: auto;
	cursor: pointer;
	display: flex;
	align-content: center;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.slider-arrow:hover {
	/*background-color: green;
	opacity: 0.2;*/
}
#left-arrow {
	margin-left: 30px;
}
#right-arrow {
	margin-right: 30px;
}
.map {
	/*height: 100%;*/
	width: 50%;
	border: medium solid #24981D;
	margin-right: 20px;
}

/*Обратить внимание! от этих свойств зависит высота слайдера*/
.gallery_main img {
	width: 100%;
	height: auto;
}
.communication{
	display: flex; 
	flex-direction: column;
	justify-content: center;
	width: 50%;
	/*align-items: stretch;*/
}
.address{
	margin-top: 10px;
	margin-bottom: 10px;
}
.addres-text:first-child{
	margin-top: 10px;
}