@charset "utf-8";
@media screen and (max-width: 768px){
	header{
		height: 50px;
	}
	.logo{
		font-size: 20px;
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.menu_button p{
		display: none;
	}
	.icon_hamburger {
		padding-right: 7px;
		padding-left: 7px;
	}
	.zamer_button{
	width: 39px;
	background-position: 50% 50%;
	}
	.zamer_button p{
		display: none;
	}
	.wrap_section_item:nth-child(1),.wrap_section_item:nth-child(3){
		margin-left: 10px;
		margin-right: 10px;
	}
	.background-sections .stoimost,.background-sections p{
		font-size: 10px;
	}
	.wrapper_choice_category{
	    font-size: 10px;
	}
	.wrapper_choice_category div{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.left-menu{
		margin-bottom: 10px;
	}
	.right-menu{
		margin-bottom: 20px; 
	}
}