@charset "utf-8";
@media screen and (max-width: 1024px) {
	.wrap_top_menu{
		justify-content: flex-end;
	}
	.zamer_button {
	background-color: #000000;
	/* [disabled]margin-left: auto; */
	/* [disabled]margin-right: auto; */
	border-radius: 5px;
	height: 40px;
	align-items: center;
	display: flex;
	background-image:url(../img/vizov.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	cursor: pointer;
}
.zamer_button p {
	font-size: 10px;
	color: #FFFFFF;
	padding-left: 40px;
	padding-right: 10px;
}
    .menu_button {
	/* [disabled]width: 130px; */
	/*height: 50px;*/
	/*background-color: #75bc41;*/
	background-color: #000000;
	margin-right: 16px;
	border-radius: 5px;
	text-decoration: none;
	color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	margin-left: 16px;
    }
	.icon_hamburger {
		padding-right: 15px;
		padding-left: 15px;
	}
	.menu_button p {
		padding-right: 15px;
	}
    .menu_button span {
		width: 25px;
		height: 3px;
		background-color: #FFFFFF;
		display: block;
    }
	.menu_button span:nth-child(1){
		margin-top: 7px;
	}
	.menu_button span:nth-child(2){
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.menu_button span:nth-child(3){
		margin-bottom: 7px;
	}
	.wrap_top_menu .item{
		display: none;
	}
	.vizov_zamer{
	display: none;
	}
	main{
		margin-left: 16px;
	}

	.background-sections .stoimost,.background-sections p{
		font-size: 12px;
	}
	.wrapper_choice_category{
		font-size: 14px;
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
		margin-top: 20px;
	}
	
	.wrapper_choice_category div{
	padding-top: 18px;
	padding-bottom: 18px;
	}
	
	.wrapper_choice_category .mounting_category {
	background-color: #75bc41;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-image: url(../img/check_category.png);
	padding-left: 52px;
	}
	.wrapper_choice_category .tovar_category {
	background-color: #c0c0c0;
	flex-grow: 1;
	}

}