footer {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-left {
	/*width: 292px;*/
	margin-left: 30px;
}
.communication>div{
	margin-bottom: 10px;
	/*flex-grow: 1;*/
}
.communication p{
	cursor: pointer;
}
.communication p:hover{
	text-decoration: underline;
}
.bottom-footer-information a{
	font-size: 12px;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.bottom-footer-information a:hover{
	text-decoration: underline;
}
p.contact-telefon{
	margin-bottom: 10px;
}
p.contact-telefon:last-child{
	margin-bottom: 0px;
}

.footer-right {
	flex-grow: 1;
}
.communication p{
	padding-top: 0px;
}
.sait-develop:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footer-menu {
	display: flex;
	justify-content: space-around;
}
.footer-menu a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-menu a:hover{
	text-decoration: underline;
}
.footer-right li{
	margin-bottom: 10px;
}
.footer-submenu{
	margin-top: 10px;
}
.left-menu{
	text-align: center;
	}
.feedback_main,.feedback_call,.feedback_watsapp{
	display: none;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 2px 2px #000000;
	box-shadow: 2px 2px 2px 2px #000000;	
}