@charset "utf-8";
h1{
	font-size: 16px;
	color: #77777B;
	display: block;
	text-align: center;
	border-style: solid;
	border-color: #0D1ACC;
	margin-top: 0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
}
h3{
	margin: 0px;
	padding: 0px;
}
html{
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial Black", Arial, "Times New Roman";
	font-size: 14px;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
input{
	outline: none;
	border: none;
}
textarea{
	outline: none;
}

.main_wrapper {
	border-style: solid;
	border-color: #E70E11;
}
ul,li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.button {
	cursor: pointer;
	text-align: center;
	background-color: #1ECA36;
}

.test_ajax {
	text-align: center;

}

p{
	margin: 0px;
	padding: 0px;
}
img{
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0px;
}
.header-inner {
	display: flex;
	background-color: #FFFFFF;
	height: 90px;
}
.logo {
	background-color: #75bc41;
	width: 22%;
	min-width: 270px;
	color: #FFFFFF;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}

/*СТИЛИ ДЛЯ СТРОКИ МЕНЮ (".nav")*/
.wrap_top_menu  {
	display: flex;
	flex-grow: 1;
	margin-left: 10px;
	margin-right: 10px;
	
}
.wrap_top_menu a{
	color: #6c6c6c;
}
.wrap_top_menu li{
	position: relative;
}
.menu {
	display: flex;
	flex-grow: 1;
}
.menu>li{
	display: flex;
	flex-grow: 1;
}
.menu a.is-submenu::after{
	content: "";
	background-image: url(../img/../img/arrow_down.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 20px;
	background-position: center center;
	display: block;
	margin-left: 4px;
	margin-right: 4px;
}
.item{
	position: relative;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
}
.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: -2px;
}
.submenu li{
	display: flex;
	justify-content: center;
	height: 90px;
	background-color: #c0c0c0;
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;	
}
.submenu li:first-child{
	margin-top: 5px;
}
.submenu a {
	display: flex;
	align-items: center;
	flex-grow: 1;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.submenu {
	z-index: 1;
}

.menu li:hover{
	background-color: #C0C0C0;
}
.item:hover{
	color: #000000;
}
.submenu a:hover{
	background-color: #75bc41;
	color: #000000;
}
.active-item{
	border-bottom-color: #75bc41;
}
.active-item-test{
	background-color: red;
}
/*КОНЕЦ СТИЛИ ДЛЯ СТРОКИ МЕНЮ (".nav")*/

.separator {
	background-color: #000000;
	height: 5px;
}

/*КНОПКИ ВЫЗОВ ЗАМЕРЩИКА И МЕНЮ*/
.right_part_header{
	display: flex;
	align-items: center;
}
.search {
	display: flex;
	align-self: center;
	background-color: transparent;
	border-radius: 7px;
	border: 2px solid #6C6C6C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 16px;
	cursor: pointer;
	
	/*
	background-image: url(../img/img_search_black.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 5px;
	*/
}
.search_popup_menu{
	display: none;
}
/*.wrap_top_menu_mobile{
	display: none;
}*/
.search input[type="text"]{
	border-style: none;
	border-color: transparent;
	border-radius: 7px;
	width: 95px;
}

.zamer_button,.menu_button,.search>p{
	display: none;
}
/*КНОПКИ ВЫЗОВ ЗАМЕРЩИКА И МЕНЮ*/

.karta_yandex{
	background-color: black;
	border: medium solid #1839DB;
	text-align: center;
}
main {
	display: flex;
	align-items: flex-start;
	margin-top: 110px;
	position: relative;
}

.vizov_zamer {
	width: 20%;
	min-width: 238px;
	background-color: #C0C0C0;
	color: #FFFFFF;
	margin-right: 16px;
	margin-left: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 10px;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
}
.vizov_zamer h3 {
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
	padding-right: 16px;
	padding-left: 16px;
}

.form_user{
	padding-left: 16px;
	padding-right: 16px;
}
.form_user input[type="text"] {
	font-family: "Times New Roman";
	font-size: 14px;
	width: 100%;
	height: 35px;
	border: none transparent;
	margin-bottom: 20px;
	border-radius: 10px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form_user textarea{
	font-family: "Times New Roman";
	font-size: 14px;
	display: block;
	width: 100%;
	height: 160px;
	border: none transparent;
	border-radius: 10px;
	resize: none;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.but_send_metric{
	width: 100%;
	height: 45px;
	background-color: #9b999c;
	border-radius: 10px;
	border: none transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content_main{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 70%;
	margin-right: 16px;
	box-sizing: border-box;
}
.background-sections {
	background-color: #C0C0C0;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.wrap_section_item {
	width: 30%;
	flex-direction: column;
	display: flex;
}
.icon-provider img{
	width: 100%;
	height: auto;
}

.background-sections#gallery {
	display: flex;
	position: relative;
	justify-content: center;
	padding-right: 15px;
	padding-left: 15px;
}
.background-sections#provider {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;

}
.background-sections#map {
	padding-right: 20px;
	padding-left: 20px;
	text-align: left;
	display: flex;
}

/*СТИЛИ ДЛЯ ГЛАВНОЙ ГАЛЛЕРЕИ*/
.gallery_main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.container-arrows img  {
	height: 100%;
}

.inner_item{
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}
.img_caption {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #000000;
	background-color: rgb(192, 192, 192,0.7);
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	font-size: 1rem;
}
.container-arrows {
	display: flex;
	justify-content: space-between;
	align-self: center;
	align-items: center;
	position: absolute;
	width: 100%;
	cursor: pointer;
	height: 1px;
	background-color: transparent;
}
.slider-arrow {
	width: auto;
	cursor: pointer;
	display: flex;
	align-content: center;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.slider-arrow:hover {
	/*background-color: green;
	opacity: 0.2;*/
}
#left-arrow {
	margin-left: 30px;
}
#right-arrow {
	margin-right: 30px;
}

.background-sections a {
	background-color: #FFFFFF;
	display: block;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid #000000;
}

/*Обратить внимание! от этих свойств зависит высота слайдера*/
.gallery_main img {
	width: 100%;
	height: auto;
}

.background-sections p {
	padding-top: 20px;
	/* [disabled]padding-bottom: 20px; */
	margin: 0px;
	color: #000000;
}
.background-sections .stoimost {
	text-decoration: none;
	color: #000000;
	margin-top: 20px;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
}

#map .map-widget{
	width: 50%;
	padding-right: 20px;
}
#map iframe {
	width: 100%;
}

.communication{
	display: flex; 
	flex-direction: column;
	justify-content: center;
	/*align-items: stretch;*/
}
footer {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-left {
	/*width: 292px;*/
	margin-left: 30px;
}
.communication>div{
	margin-bottom: 10px;
	flex-grow: 1;
}
.communication p{
	cursor: pointer;
}
.communication p:hover{
	text-decoration: underline;
}
.bottom-footer-information a{
	font-size: 12px;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.bottom-footer-information a:hover{
	text-decoration: underline;
}
#map>.communication>div{
	margin-bottom: 0px;
}

.footer-right {
	flex-grow: 1;
}
.communication p{
	padding-top: 0px;
}
.sait-develop:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footer-menu {
	display: flex;
	justify-content: space-around;
}
.footer-menu a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-menu a:hover{
	text-decoration: underline;
}
.footer-right li{
	margin-bottom: 10px;
}
.footer-submenu{
	margin-top: 10px;
}
.left-menu{
		text-align: center;
	}
.feedback_main,.feedback_call,.feedback_watsapp{
	display: none;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 2px 2px #000000;
	box-shadow: 2px 2px 2px 2px #000000;	
}


/*СТИЛИ ДЛЯ СТРАНИЦЫ okna.html*/
/*СТИЛИ ДЛЯ ГАЛЛЕРЕИ НА СТРАНИЦЕ С ОКНАМИ*/
.inner-product-item{
	display: flex;
	flex-grow: 1;
}
.gallery_product{
	width: 60%;
	display: flex!important;

	align-items: center;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-left: 20px;
	border: 2px solid #000000;
}
.item-gallery-product{
	outline: none;
	border: 1px solid blue;
}
.item-gallery-product img{
	margin-left: auto;
	margin-right: auto;
	/*height: 25vw;*/
	width: 20%;
	height: auto;
}

/*.foto_title{
	background-color: rgb(192,192,192,0.70);
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
}*/
.right_part{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}
.wrapper-item-info{
	flex-grow: 1;
}
.item-info{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding-top: 20px;
}
.item-info p{
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 20px;
}
.switch-browse{
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 14px;
	border: 2px solid #000000;
	cursor: pointer;
}
.cost-info{
	border-radius: 10px;
	height: 40px;
	left: 0px;
	right: 0px;
	background-color: #FFFFFF;
	position: absolute;
	border: 2px solid #000000;
	bottom: 0px;
	overflow: hidden;
}
.cost-info p{
	padding-top: 15px;
}
.cost-info p:empty{
	display: none;
}
.cost{
	font-size: 16px;
	text-decoration: underline;
}
.cost-old{
	font-size: 16px;
	text-decoration: line-through;
	color: #D9090C!important;
}

/*СТИЛИ ДЛЯ select для выбора вида дверей, окон и т.д.*/

.choice-kind-of-item{
	display: flex;
	/*height: 40px;*/
	background-color: #75BC41;
	border-radius: 10px;
	position: relative;
	margin-bottom: 10px;
}
.choice-kind-of-item::after{
	content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 1;
    margin-top: -3px;

}
.name-kind-of-item{
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}
select{
	float: right;
	outline: none;
	display: flex;
	text-align: center;
	text-align-last: center;
	justify-content: center;
    width: 50%; /* от ширины блока div */
    /*padding: .75rem 2.5rem .75rem 1rem;*//* отступы от текста до рамки */
	/*height: 40px;*/
    background: #FFFFFF; /* убираем фон */
    border: 1px solid #ccc; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    color: #444;
	line-height: 35px;
}

@media screen and (max-width: 1024px) /* and (orientation : portrait) */ /* and (max-aspect-ratio: 13/9) */ {
	
	/*ШАПКА САЙТА*/
	.header-inner{
		justify-content: space-between;
	}
	.zamer_button,.menu_button{
		display: flex;
		align-self: center;
		align-items: center;
		color: white;
		background-color: #000000;
		margin-right: 16px;
		border-radius: 5px;
		cursor: pointer;
		min-height: 24px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
	}
	.zamer_button>p,.menu_button>p,.search>p{
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		display: block;
		color: white;
		margin-left: 10px;
	}
	.search{
		display: flex;
		align-self: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-right: 16px;
		cursor: pointer;
		
		align-items: center;
		border-radius: 5px;
		border: none;
		background-color: #000000;
		padding-left: 10px;
		padding-top: 10px;
	    padding-bottom: 10px;
		padding-right: 10px;
	}
	
	.material-icons.white { color: #ffffff; }
	.material-icons.black { color: #000000; }
	.search > input[type="text"]{
	display: none;
	}
/*	.search{
		display: none;
	}*/
	
	.zamer_button{
		padding-left: 30px;
		background-image: url(../img/img_metering_24.png);
		background-repeat: no-repeat;
		background-position: 10px center;
	}
	
	/*СТИЛИ ДЛЯ КНОПКИ МЕНЮ ГАМБУРГЕРА*/
	.c-hamburger {
		display: block;
		position: relative;
		overflow: hidden;
		margin-top: 0;
		margin-right: 0;
		margin-left: 10px;
		margin-bottom: 0;
		padding: 0;
		width: 20px;
		height: 21px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;
	}

	.c-hamburger:focus {
		outline: none;
	}
	.c-hamburger span {
		display: block;
		position: absolute;
		top: 9px;
		left: 0px;
		right: 0px;
		height: 3px;
		background: white;
	}

	.c-hamburger span::before,
	.c-hamburger span::after {
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: 3px;
	  background-color: #fff;
	  content: "";
	}

	.c-hamburger span::before {
	  top: -9px;
	}

	.c-hamburger span::after {
	  bottom: -8px;
	}
	
	.c-hamburger--htx {
	  /*background-color: #000000;*/
	}

	.c-hamburger--htx span {
	  transition: background 0s 0.3s;
	}

	.c-hamburger--htx span::before,
	.c-hamburger--htx span::after {
	  transition-duration: 0.3s, 0.3s;
	  transition-delay: 0.3s, 0s;
	}

	.c-hamburger--htx span::before {
	  transition-property: top, transform;
	}

	.c-hamburger--htx span::after {
	  transition-property: bottom, transform;
	}

	/* состояние active при открытом меню  */
	.c-hamburger--htx.is-active {
	  /*background-color: #cb0032;*/
	}

	.c-hamburger--htx.is-active span {
	  background: none;
	}

	.c-hamburger--htx.is-active span::before {
	  top: 0;
	  transform: rotate(45deg);
	}

	.c-hamburger--htx.is-active span::after {
	  bottom: 0;
	  transform: rotate(-45deg);
	}

	.c-hamburger--htx.is-active span::before,
	.c-hamburger--htx.is-active span::after {
	  transition-delay: 0s, 0.3s;
	}
	/*СТИЛИ ДЛЯ КНОПКИ МЕНЮ ГАМБУРГЕРА*/
	
	/*БЛОК, ЗАТЕМНЯЮЩИЙ КОНТЕНТ*/
	.transparent_block{
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #9b999c;
		opacity: .85;
		z-index: 2;
		top: -15px;
	}
	
	/*СТИЛИ ДЛЯ МЕНЮ ПОИСКА*/
	.search_popup_menu{
		position: fixed;
		z-index: 2;
		background-color: #c0c0c0;
		width: 100%;
		margin-top: -15px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-left: 2px solid #000000;
		border-right: 2px solid #000000;
		border-bottom: 2px solid #000000;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 16px;
	
	}
	.form_search{
		width: 100%;
		border-radius: 10px;
		border: 2px solid #000000;
		background-color: #FFFFFF;
		display: flex;
	}
	.search_popup_menu input[type="text"]{
		font-size: 18px;
		flex-grow: 1;
		border-left: 2px solid #000000;
		margin: 0px;
		border-radius: 0px;
		padding: 0px;
	}
	
	/*СТИЛИ ДЛЯ МЕНЮ ВЫЗОВА ЗАМЕРЩИКА*/
	.vizov_zamer{
		display: none;
		position: absolute;
		z-index: 2;
		/*margin-top: -10px;*/
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		border: 2px solid #000000;
		background-repeat: no-repeat;
	}
	
	/*СТИЛИ ДЛЯ БОКОВОГО МЕНЮ*/
	
	.wrap_top_menu{
		display: none;
		/*display: flex;*/
		justify-content: center;
		position: absolute;
		z-index: 2;
		width: 100%;
		margin-top: -15px;
		/*margin-top: 95px;*/
		
		margin-left: 0px;
	    margin-right: 0px;
		
		padding-left: 16px;
		padding-right: 16px;
		border-left: 2px solid #000000;
		border-right: 2px solid #000000;
		border-bottom: 2px solid #000000;
		background-color: #FFFFFF;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu{
		flex-direction: column;
	}
	.menu>li{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.item {
		/*
		position: relative;
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		*/
		
		border: 2px solid #000000;
		background-color: #C0C0C0;
		border-radius: 5px;
		height: 50px;
/*		margin-top: 15px;
		margin-bottom: 15px;*/
		font-size: 16px;
		text-decoration: none;
		color: #000000;
	}
	/*.active{
		background-color: #1426CC;	
	}*/
	.submenu{
		padding-left: 30px;
		padding-right: 30px;
	}
	.submenu a{
	    background-color:#ddd9d9;
		text-align: center;
		font-size: 16px;
		text-decoration: none;
		color: #000000;
		width: 100%;
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		border: 2px solid #000000;
		margin-top: 15px;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	
	.menu li:hover{
		background-color: #C0C0C0;
	}
	.item:hover{
		color: #000000;
	}
	.submenu a:hover{
		background-color: #75bc41;
		color: #000000;
	}
	
	
	/*КОНЕЦ ШАПКИ САЙТА*/
	
	
	/*КОНТЕНТ САЙТА*/
	.content_main{
		margin-left: 16px;
	}
	.background-sections{
		margin-bottom: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	/*ФУТЕР САЙТА*/
	.footer-right{
		font-size: 10px;
	}
	.footer-left{
		margin-left: 16px;
		font-size: 10px;
	}
	
	/*КНОПКИ ЗВОНОК,WATSAPP*/
	.feedback_main{
		display: flex;
		align-items: center;
		text-align: center;
		position: fixed;
		z-index: 2;
		bottom: 20px;
		right: 20px;
		width: 70px;
		height: 70px;
		background-color: #75bc41;
		border-radius: 70px;
		/*border: 2px solid #000000;*/
		font-size: 14px;
		color: #FFFFFF;
		font-weight: bold;
	}
	.feedback_call {
		position: fixed;
		z-index: 2;
		bottom: 110px;
		right: 30px;
		background-color: #75bc41;
	    border-radius: 50px;
		width: 50px;
		height: 50px;
		background-position: center center;
	    background-repeat: no-repeat;
	    /*border: 2px solid #000000;*/
	    background-size: 35px 35px;
		background-image:url(../img/telephone.svg);
	   

	}
	.feedback_watsapp {
		/*display: block;*/
		position: fixed;
		z-index: 2;
		bottom: 40px;
		right: 30px;
		background-color: #75bc41;
		border-radius: 50px;
		width: 50px;
		height: 50px;
		background-position: center center;
		background-repeat: no-repeat;
		/*border: 2px solid #000000;*/
		background-size: 50px 50px;
		background-image: url(../img/whatsapp_icon-icons.com_66931.svg);
	}
	
}

/* 
@media screen and (max-width: 768px) and (orientation : portrait)  {
	.logo{
		background-color: red;
	}
}
 */
 



@media screen and (max-width: 768px) {/* portrait styles here */
	body{
		font-size: 10px;
	}
	.header-inner{
		height: 70px;
	}
	.logo{
		min-width: 176px;
		width: 176px;
		font-size: 24px;
	}
	.zamer_button>p,.menu_button>p,.search-mobile>p{
		display: none;
	}
	main{
		margin-top: 90px;
	}
	.content_main{
		margin-left: 10px;
		margin-right: 10px;
	}
	
	/*СТИЛИ ДЛЯ select для выбора вида дверей, окон и т.д.*/
	.choice-kind-of-item{
		display: flex;
		flex-direction: column;
		background-color: transparent;
	}
	.choice-kind-of-item::after{
		content: "";
		display: block;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: #000 transparent transparent transparent;
		pointer-events: none;
		position: absolute;
		top: 78%;
		right: 2%;
		z-index: 1;
		margin-top: -3px;

	}
	.name-kind-of-item{
		display: flex;
		width: 100%;
		border-radius: 5px;
		font-size: 1rem;
		line-height: 35px;
		margin-bottom: 10px;
		border: thin solid #4369B0;
		background-color: #75BC41;
	}
	select{
		float: right;
		outline: none;
		display: block;
		position: relative;
		text-align: center;
		text-align-last: center;
		justify-content: center;
		width: 100%; /* от ширины блока div */
		background: #FFFFFF; /* убираем фон */
		border: thin solid #4369B0; /* рамка */
		border-radius: 5px;/* скругление полей формы */
	}
	
	.background-sections{
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.background-sections#gallery{
		padding-right: 5px;
	    padding-left: 5px;
	}
	.background-sections#map{
		flex-direction: column;
		padding-right: 10px;
	    padding-left: 10px;
	}
	.background-sections#provider {
		padding-left: 10px;
		padding-right: 10px;
	}
	.inner-product-item{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.gallery_product{
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}
	.item-gallery-product img{
		margin-left: auto;
		margin-right: auto;
		width: 25%;
		height: auto;
	}
	.wrapper-item-info{
		flex-grow: 1;
	}
	.item-info{
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: #FFFFFF;
		padding-top: 10px;
	}
	.item-info p{
		padding-top: 0px;
		padding-bottom: 10px;
	}
	.right_part{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
	.cost-info p{
		font-size: 16px;
		padding-top: 10px;
	}
	#left-arrow {
		margin-left: 10px;
	}
	#right-arrow {
		margin-right: 10px;
	}
	#map .map-widget{
		width: 100%;
		padding-right: 0px;
		padding-bottom: 10px;
		border: none;
	}
	.footer-left {
		width: 100%;
		margin-right: 16px;
		/*border: thin solid #EF0D11;*/
		font-size: 10px;
    }
	.bottom-footer-information {
		display: flex;
		justify-content: space-around;
	}

	.name-company, .address, .contact{
		flex-grow: 1;
	}
	.communication{
		display: flex; 
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		text-align: center;
	}
	.address{
		border-left: thin solid #FFFFFF;
		border-right: thin solid #FFFFFF;
		margin-right: 5px;
		margin-left: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.footer-right{
		display: none;
	}

}

/* landscape styles here */ /* and (min-aspect-ratio: 13/9) */
@media screen and (max-width: 768px) and (orientation : landscape)and (min-aspect-ratio: 13/9) {
	.zamer_button>p,.menu_button>p,.search>p{
		display: none;
	}
	.gallery_product{
		/* width: 60%; */
	}
}

@media screen and (max-width: 320px){
	.logo{
		min-width: 140px;
		width: 140px;
		font-size: 22px;
	}
	main{
		margin-top: 85px;
	}
	.zamer_button,.menu_button,.search{
		margin-right: 10px;
	}
	.search_popup_menu{
		margin-top: -10px;
	}
}


